/* font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Poppins:wght@500;700&family=Work+Sans:wght@400;700&display=swap');
body{ 
    margin: 0 auto;
    font-family: 'Work Sans', sans-serif;
}
/* nav style */
.header-area{
   background-color: rgba(255, 144, 14, 0.1);
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-left: 235px;
   
}
.nav-title{
    font-size: 45px;
    color: #131313;
}
nav ul{
    display: flex;
    gap: 20px;
    margin-top: 63px;
    margin-right: 240px;
}
ul li{
    list-style: none;
    font-size: 18px;
    color: #424242;
}
ul li a{
    text-decoration: none;
}
/* banner style */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner-info{
    width: 862px;
    margin: 0 auto;
}

.banner-title{
    font-size: 64px;
    color: #131313;
    margin-top: 100px;
}
.banner-description{
    font-size: 16px;
    color: #727272;
    margin-top: 10px;
   
}
.btn-primary{
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border: #FF900E;
    border-radius: 8px ;
    padding: 20px 25px;
    margin-top: 30px;
}
.banner-image{
    padding: 50px 240px;
}

/* feature team style */
.feature-teams{
    display: flex;
    justify-content:center;
    align-items: center;

}
.feature-team{
    display: grid;
    grid-template-columns: repeat(2, 340px);
    gap: 24px;
    margin-right: 73px;
    margin-top: 85px;
}
.feature-title{
    font-size: 45px;
    color: #727272;
    margin-bottom: 24px;
}
.primary-color-1{
    color: #131313;
}
.primary-color{
    color: #FF900E;
}
.feature-info{
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;
}
/* feature blogs style */
.feature-blogs{
    display:flex ;
    justify-content: center;
    align-items: center;
    column-gap: 55px;
    margin-top: 170px;
}
.blogs{
    display: flex;
    flex-direction: column;
}
.top-blog-title{
    font-size: 45px;
    margin-bottom: 24px;
    color: #131313;
    border-left: 5px solid #FF900E;
}
.top-blog-description{
    font-size: 16px;
    color: #727272;
    margin-bottom: 60px;

}
.blog-title{
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;
}
.blog-description{
    font-weight: 400;
font-size: 16px;
color: #727272;
}
.feature-image{
    position: relative;
    text-align: center;
}
.btn-sceondary{
    font-size: 65px;
    font-size: 45px;
    width: 342px;
background-color: #FF900E;
border: 1px solid #FF900E;;
border-radius: 8px ;
padding: 45px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
position: absolute;
bottom:-60px;
left : -70px;

}
.sceondary-font{
    font-size: 25px;
}
/* icon style */
.icon-info{
margin-left: 240px;
margin-bottom: 100px;
margin-top: 130px;
}
.icon-blogs{
  display: flex;
  justify-content: center;
  align-items: center;
 gap: 130px;
}
.icon-blog{
    border: 1px solid #FF900E;
border-radius: 8px;
padding: 36px 45px 60px ;
width: 240px;
display: flex;
flex-direction: column;

}
.icon-blog img, .icon-author{
  margin-left: 36px;
  margin-right: 45px;

}
.icon-blog a{
    text-decoration: none;
    text-align: center;
}


.icon-title{
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.icon-description{
    font-size: 16px;
    color: #727272;
    
}
.icon-author{
    font-weight: 600;
font-size: 45px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}
.icon-img-title{
    font-weight: 600;
font-size: 20px;
    color: #727272;
}
/* sponsoprs style */
.sponspors-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sponspors-title{
    font-size: 45px;
    color: #131313;
    text-align: center;
}
.sponspors-description{
    font-size: 16px;
    color: #727272;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 50px;
}
.sponspors-item{
display: flex;
column-gap: 155px;
}
/* footer style */
.footer-area{
 background-color:  #FFF4E7;
border-radius: 8px;
padding: 40px 410px;
margin: 130px 240px 216px;
}
.footer-info{
    font-weight: 400;
font-size: 20px;
text-align: center;
color: #424242;
}
/* mobile device */
@media only screen and (max-width:568px) {
    body{
        width: 100%;
    }
    .header{
        flex-direction: column;
justify-content: center;
align-items: center;
    }
    nav ul{
        flex-direction: column;
    }
    .banner-image{
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 5px;
    }
.feature-team{
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
}
.feature-teams{
   flex-direction: column;
   margin-left: 20px;
}
.feature-blogs{
    flex-direction: column;
    margin-left: 20px;
   
}
.btn-sceondary{
    margin-left: 170px;
}
.icon-blogs{
flex-direction: column;

}
.icon-info{
    margin-left: 20px;
}
.sponspors-container , .sponspors-item{
    flex-direction: column;
    row-gap: 30px;
    margin-left: 20px;
    
}
.footer-area{
    background-color:  #FFF4E7;
   border-radius: 8px;
   padding: 20px 200px;
   margin-left: 10px;
  
   }
  
}